html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	a {
		text-decoration: none;
		#title {
			max-width: 80em;
			margin: 0 auto;
			max-height: 9em;
			display: flex;
			align-items: flex-end;
			img {
				height: 7em;
				width: auto;
				margin: 0.5em;
			}
			h1 {
				margin: 0 0 -0.4em 0;
				padding: 0;
				font-size: 5em;
				flex-grow: 100;
				text-align: center;
				color: black;
			}
		}
	}
	#main-menu {
		background-color: black;
		ul {
			margin: 0 auto;
			list-style: none;
			padding: 0;
			max-width: 80em;
			display: flex;
			align-items: flex-center;
			justify-content: flex-start;
			li {
				background-color: white;
				padding: 0.5em;
				border-right: 1px solid;
				a {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}
header #main-menu ul li:hover,
header #main-menu ul li.active {
	background-color: black;
}
header #main-menu ul li:hover a,
header #main-menu ul li.active a {
	color: white;
}
footer {
	width: 100%;
	background-color: black;
	color: white;
	padding: 0.5em;
}
form#login {
	align-self: center;
	margin: 0 auto;
	padding: 1em;
	border: 2px solid black;
	border-radius: 0.5em;
	height: auto;
	p {
		width: 40%;
		min-width: 30em;
		text-align: center;
		label {
			display: inline-block;
			width: 50%;
			text-align: right;
			padding-right: 0.5em;
		}
		input {
			display: inline-block;
			width: 50%;
			text-align: left;
			background-color: #aaa;
			padding: 0.5em;
			border: none;
			border-radius: 0.5em;
			&:focus {
				outline: none;
			}
		}
	}
}
#main {
	&.container {
		flex-grow: 1000;
		max-width: 80em;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
		display: flex;
		align-items: stretch;
		#sidebar {
			max-width: 7em;
			margin: 0;
			padding: 0;
			border-right: 1px solid black;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					width: 100%;
					padding: 0.5em;
				}
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
		#main-config {
			max-width: calc( 100% - 7em );
			padding: 1em;
			margin: 0;
			flex-grow: 100;
			form {
				&.wide {
					.logo {
						display: flex;
						align-items: center;
						margin-bottom: 1em;
					}
					label {
						display: none;
					}
					& > button {
						margin-top: 1em;
					}
					div {
						&.logo {
							input {
								display: none;
							}
							label {
								display: inline-block;
								width: auto;
								background: #DDD;
								border: 4px solid #333333;
								border-radius: 4px;
								padding: 0.3em;
							}
						}
					}
				}
			}
		}
	}
}
#main.container #sidebar ul li:hover,
#main.container #sidebar ul li.active {
	background-color: black;
}
#main.container #sidebar ul li:hover a,
#main.container #sidebar ul li.active a {
	color: white;
}
#main.container #main-config form.wide input,
#main.container #main-config form.wide textarea,
#main.container #main-config form.wide >button {
	display: block;
	width: 100%;
}
#main.container #main-config form.wide input:focus,
#main.container #main-config form.wide textarea:focus,
#main.container #main-config form.wide >button:focus {
	outline: none;
}
.hidden {
	display: none !important;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix {
	&:after {
		clear: both;
	}
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
