{~ if(@user.name): ~}
<h2>{{@L.user.editing,@user.name|format}}</h2>

<form method="POST" action="{{@BASE}}{{'user_update','id='.@user.id | alias}}"  enctype="multipart/form-data">
{~ else: ~}
<h2>{{@L.user.creating}}</h2>

<form method="POST" action="{{@BASE}}{{'user_create' | alias}}"  enctype="multipart/form-data">
{~ endif ~}
    <fieldset id="access_data" class="">
        <legend>{{@user.accessdata}}</legend>
        
        <input type="input" name="username" value="{{@user.username}}" title="{{@L.user.username}}" placeholder="{{@L.user.username}}" />
        <input type="password" name="password" value="" title="{{@L.user.password}}" placeholder="{{@L.user.password}}" />

        {~ if(@MANAGER): ~}
        <input type="checkbox" name="manager" {~if(@user.manager): ~}checked{~endif~} title="{{@L.user.manager}}" /><label for="manager">{{@L.user.manager}}</label>
        {~ endif ~}
    </fieldset>
    <fieldset id="personal_information" class="">
        <legend>{{@user.personalinfo}}</legend>

        <input type="input" name="name" value="{{@user.name}}" title="{{@L.user.name}}" placeholder="{{@L.user.name}}" />
        <input type="email" name="email" value="{{@user.email}}" title="{{@L.user.email}}" placeholder="{{@L.user.email}}" />
    </fieldset>

    <input type="submit" value="{{@L.basic.save}}"/>

</form>
